:root {
    /*ПЕРЕМЕННЫЕ ОСНОВНОЙ ПАЛИТРЫ*/
    --color-dark: #000;
    --color-dark-blue: #131619;
    --color-white: #ffffff;
    --color-dark-gray: #404040;
    --color-light-gray: #c4c4c4;

    /*ОСНОВНЫЕ ШРИФТЫ*/
    --font-heebo: "Heebo", sans-serif;
    --font-back-words: "Yantramanav", sans-serif;

    /*РАЗМЕРЫ ВАЖНЫХ ЭЛЕМЕНТОВ*/
    --header-height: 89px;

    /*ОСНОВНЫЕ СКРУГЛЕНИЯ, ГРАНИЦЫ И ВЫСОТЫ КНОПОК*/
    --btn-radius: 30px;
    --btn-height: 54px;
    --border: 1px solid var(--color-white);

    /*ПОВТОРЯЮЩИЕСЯ РАЗМЕРЫ ШРИФТОВ*/
    --fs-m: 12px;
    --fs-l: 16px;
    --fs-title-m: 40px;

    /*ЗНАЧЕНИЯ КОНТЕНТНОГО КОНТЕЙНЕРА*/
    --container-width: 1300px;
    --container-padding-x: 15px;

    /*ОПТИМАЛЬНАЯ СКОРОСТЬ ПЕРЕХОДОВ*/
    --transition-duration: 0.3s;
}

.d-flex {
    display: flex;
}
.al-center {
    align-items: center;
}
.jc-center {
    justify-content: center;
}
.jc-between {
    justify-content: space-between;
}
.f-column {
    flex-direction: column;
}

body {
    background-color: var(--color-dark-blue);

    /*СТИЛИ ОСНОВНОГО ТЕКСТА*/
    color: var(--color-light-gray);
    font-family: var(--font-heebo);
    font-size: 16px;
    line-height: 1.75;
}

/*КОНТЕНТНЫЙ КОНТЕЙНЕР*/
.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    padding-inline: var(--container-padding-x);
    margin-inline: auto;
}

/*СКОРОСТЬ ПЕРЕХОДОВ ДЛЯ ИНТЕРАКТИВНЫХ ЭЛЕМЕНТОВ*/
a,
input,
button,
svg * {
    transition-duration: var(--transition-duration);
}

a {
    color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: var(--color-white);
    text-transform: uppercase;
}

/*Визуальное сокрытие элемента с сохранением доступности*/
.v-hidden {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip-path: inset(100%) !important;
}

button {
    white-space: nowrap;
}

.button {
    border-radius: var(--btn-radius);
    height: var(--btn-height);
    text-transform: uppercase;
    font-weight: 700;
    font-size: var(--fs-m);
    font-weight: 700;
    line-height: 2;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding-inline: 26px;
}
.button.white {
    background-color: white;
}
.button.transparent {
    color: var(--color-white);
    border: 1px solid currentColor;
    padding-right: 80px;
    background-color: transparent; 
    position: relative;
}
.button.transparent::after {
    content: "";
    right: 0;
    border-radius: 50%;
    position: absolute;
    height: 100%;
    aspect-ratio: 1 / 1;
    background: url("../icons/arrow-top-right.svg") center/65% no-repeat;
    border: 1px solid currentColor;
    transition-duration: var(--transition-duration);
}
.button.transparent:hover {
    color: var(--color-light-gray);
}
.button.transparent:hover::after {
    rotate: 45deg;
}

.button.white:hover {
    background-color: var(--color-light-gray);
}
.title-m {
    font-size: var(--fs-title-m);
    line-height: 1.3;
    margin-bottom: 15px;
}

.header {
    padding: 14px 32px;
    gap: 30px;
    flex-wrap: wrap;
    min-height: var(--header-height);
}
.header-logo {
    align-items: center;
    flex-shrink: 0;
}
.header-menu-link {
    padding-block: 20px;
    align-items: center;
    font-weight: 700;
    color: var(--color-white);
    text-transform: uppercase;
    text-decoration: none;
    gap: 8px;
    font-size: var(--fs-m);
    letter-spacing: 1.2px;
}
.header-menu-link:hover {
    color: var(--color-light-gray);
}

.header-menu-link.active::after {
    content: "";
    background-color: currentColor;
    border-radius: 50%;
    width: 5px;
    aspect-ratio: 1 / 1; /*Соотношение ширины и высоты*/
}
.header-menu-list {
    column-gap: 60px;
    flex-wrap: wrap;
}
.header-actions {
    display: flex;
    column-gap: 40px;
}
.header-book-button {
    height: 38px;
}

.header-burger-button {
    height: 40px;
    aspect-ratio: 1 / 1;
    color: var(--color-white);
    background-color: transparent;
    padding-inline: 10px;
    border-radius: 50%;
    border: 1px solid currentColor;
    align-items: unset;
    row-gap: 5px;
}
.header-burger-button span {
    height: 1px;
    width: 6px;
    box-shadow: 12px 0 0 currentColor;
    background-color: currentColor;
}

.welcome {
    padding-inline: 70px;
    padding-bottom: 60px;
    min-height: calc(100vh - var(--header-height));
    align-items: flex-end;
    color: var(--color-white);
}
.welcome-info {
    align-items: flex-end;
    line-height: 1.3;
    font-weight: 700;
    font-size: 30px;
    font-size: clamp(16px, 1.56vw, 30px);
    text-transform: uppercase;
    column-gap: 30px;
}
.welcome-info::before {
    content: "";
    width: clamp(74px, 10.1vw, 194px);
    aspect-ratio: 1;
    background: url("../icons/bold-arrow-down-right.svg") center/contain no-repeat;
}
.welcome-title {
    font-size: min(18.75vw, 360px);
    line-height: 1;
}
.motivation-item:nth-child(odd) {
    background-color: var(--color-dark);
}

.motivation-item:nth-child(even) .motivation-card {
    flex-direction: row-reverse;
}

.motivation-card {
    align-items: center;
    justify-content: space-between;
    column-gap: clamp(30px, 10.4vw, 180px);
}

.motivation-card img {
    margin-block: -60px;
}
.motivation-card-content {
    padding-left: 35px;
}
.motivation-card-text {
    max-width: 400px;
    margin-bottom: 30px;
    letter-spacing: 0.8px;
}
.backdrop-title {
    position: relative;
    z-index: 2;
}
.backdrop-title::before {
    content: '';
    display: block;
    position: absolute;
    right: calc(100% + 8px);
    height: 26px;
    aspect-ratio: 1 / 1;
    background: url("../icons/plus.svg") center/contain no-repeat;
}
.backdrop-title::after {
    content: attr(data-title);
    font-family: var(--font-back-words);
    position: absolute;
    font-size: 2.8em;
    color: transparent;
    -webkit-text-stroke: 2px var(--color-dark-gray);
    text-stroke: 2px var(--color-dark-gray);
    z-index: -1;
    top: -0.5em;
    left: -0.6em;
}
@media (max-width: 1000px) {
    .header {
        row-gap: 15px;
        padding-inline: 15px;
    }
    .header-logo img {
        width: 80px;
    }
    .header-menu {
        flex-basis: 100%;
        order: 1;
    }
    .header-menu-list {
        justify-content: space-between;
        gap: 20px;
    }
    .header-menu-link {
        padding-block: 10px;
    }
    .header-actions {
        gap: 15px;
    }
    :root {
        --header-height: 124px;
    }
    .welcome {
        padding-inline: 30px;
        padding-bottom: 30px;
    }
    .welcome-info {
        column-gap: 15px;
    }
}
@media (max-width: 450px) {
    .welcome {
        padding-inline: 15px;
        padding-bottom: 7vh;
    }
}